In [52]:
#install connector api using the command below.
!pip install mysql-connector-python

Looking in indexes: https://pypi.org/simple, https://pypi.ngc.nvidia.com
Requirement already satisfied: mysql-connector-python in c:\users\alex\appdata\local\programs\python\python310\lib\site-packages (8.0.31)
Requirement already satisfied: protobuf<=3.20.1,>=3.11.0 in c:\users\alex\appdata\local\programs\python\python310\lib\site-packages (from mysql-connector-python) (3.20.1)

In [53]:
# Import the MySQL Connector/Python
import mysql.connector as connector

In [54]:
# Establish connection between Python and MySQL database via connector API
connection=connector.connect(host="localhost",
                             user="CapstoneAuthor", # use your own
                             password="admin", # use your own
                            )
print("Connection between MySQL and Python is established.\n")

Connection between MySQL and Python is established.

In [55]:
# Create cursor object to communicate with entire MySQL database
cursor = connection.cursor()
print("Cursor is created to communicate with the MySQL using Python.\n")

Cursor is created to communicate with the MySQL using Python.

In [56]:
#Set Checks
cursor.execute("SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0;")
cursor.execute("SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0;")
cursor.execute("SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='ONLY_FULL_GROUP_BY,STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION';")

In [57]:
#Name schema for use Name as 'schema'
schema = "TestDisenchantment"

In [58]:
#Define Drop, create and use commands to reset the default schema

dropSchema = "DROP SCHEMA IF EXISTS `"+schema+"` ;"
createSchema= "CREATE SCHEMA IF NOT EXISTS `"+schema+"` DEFAULT CHARACTER SET utf8mb3 ;"
useSchema = "USE `"+schema+"` ;"

In [60]:
try:
    cursor.execute(dropSchema)
    cursor.execute(createSchema)
    cursor.execute(useSchema)
    print("Schema "+schema+" is set for use.")
except:
    print("Error setting "+schema+" for use")

schema TestDisenchantment is set for use.

In [63]:
## -----------------------------------------------------
## Table `episode` statements
## -----------------------------------------------------

dropEpisodeTable = "DROP TABLE IF EXISTS `"+schema+"`.`episode` ;"

createEpisodeTable= """CREATE TABLE IF NOT EXISTS `"""+schema+"""`.`episode` (
  `EpisodeID` INT NOT NULL AUTO_INCREMENT,
  `Part` INT NULL DEFAULT NULL,
  `Episode` INT NULL DEFAULT NULL,
  `Name` VARCHAR(45) NULL DEFAULT NULL,
  `Synopsis` VARCHAR(255) NULL DEFAULT NULL,
  PRIMARY KEY (`EpisodeID`),
  UNIQUE INDEX `EpisodeID_UNIQUE` (`EpisodeID` ASC) VISIBLE)
ENGINE = InnoDB
DEFAULT CHARACTER SET = utf8mb3;"""

In [64]:
## -----------------------------------------------------
## #Execute create episode as new table
## -----------------------------------------------------
try:
    cursor.execute(dropEpisodeTable)
    cursor.execute(createEpisodeTable)
    print("Table 'episode' created.")
except:
    print("Error creating table 'episode'.")

Table 'episode' created.

In [65]:
## -----------------------------------------------------
## #Table 'event' statements
## -----------------------------------------------------
dropEventTable = """DROP TABLE IF EXISTS `"""+schema+"""`.`event` ;"""

createEventTable = """CREATE TABLE IF NOT EXISTS `"""+schema+"""`.`event` (
  `EventID` INT NOT NULL AUTO_INCREMENT,
  `EventName` VARCHAR(45) CHARACTER SET 'armscii8' NULL DEFAULT NULL,
  `EpisodeID` INT NOT NULL,
  `EventDescription` VARCHAR(255) NULL DEFAULT NULL,
  `Timestamp` DECIMAL(3,0) NULL DEFAULT NULL,
  PRIMARY KEY (`EventID`),
  INDEX `fk_Event_Episodes_idx` (`EpisodeID` ASC) VISIBLE,
  CONSTRAINT `fk_Event_Episodes`
    FOREIGN KEY (`EpisodeID`)
    REFERENCES `"""+schema+"""`.`episode` (`EpisodeID`))
ENGINE = InnoDB
DEFAULT CHARACTER SET = utf8mb3;"""

In [67]:
## -----------------------------------------------------
## #Execute create event as new table
## -----------------------------------------------------
try:
    cursor.execute(dropEventTable)
    cursor.execute(createEventTable)
    print("Table 'event' created.")
except:
    print("Error creating table 'event'.")

Table 'event' created.

In [ ]:
## -----------------------------------------------------
## Table `Object` statements
## -----------------------------------------------------

dropObjectStatement = """DROP TABLE IF EXISTS `"""+schema+"""`.`object` ;"""
createObjectStatement = """CREATE TABLE IF NOT EXISTS `"""+schema+"""`.`object` (
  `ObjectID` INT NOT NULL AUTO_INCREMENT,
  `ObjectTypeID` INT NOT NULL,
  `ObjectReferenceName` VARCHAR(45) NULL DEFAULT NULL,
  `ObjectDescription` VARCHAR(255) NULL DEFAULT NULL,
  PRIMARY KEY (`ObjectID`),
  UNIQUE INDEX `ObjectID_UNIQUE` (`ObjectID` ASC) VISIBLE,
  UNIQUE INDEX `ObjectReferenceName_UNIQUE` (`ObjectReferenceName` ASC) VISIBLE)
ENGINE = InnoDB
DEFAULT CHARACTER SET = utf8mb3;"""